:host {
    /* max-height: 72px; */
    /* TODO: Find out why it is not applying */
    background: white;
    box-shadow: 0 0 10px -6px;
    border-radius: 0.3em;

}
.navbar {
    padding-bottom: 0.625rem;
    background-color: var(--dxp-g-root);
    /* max-height: 72px; */
}

.navbar-items {
    color: blueviolet;
    font-family: var(--dxp-g-root-font-family);
    font-size: 1rem;
    font-weight: 500;
}

.hamburger-menu-container {
    min-height: 100%;
    height: 100vh;
    min-width: 100%;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(20px)brightness(1.1);
}
.menu-drawer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;

}
.hamburger-menu {
    background: rgba(255,255,255,0.5);
    /* backdrop-filter: blur(20px)brightness(1.1); */
    box-shadow: 20px 15px 20px 0px rgba(0,0,0, 0.5);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 35% 0;
    gap: 12px;
    width: 100%;
}

img.hamburger-menu-icon {
    max-width: 2rem;
    height: auto;
    filter: invert(1)drop-shadow(2px 0px 2px black)brightness(0.7);
}
.menu-exit {
    padding: 12px;
}

@media (max-width: 480px) {
    .navbar-items {
        font-size: 1rem;
        padding: 1em;
    }
}
.slds-grid {
    gap: 12px;
    margin-right: 12px;
}

.accessButton {
    color: white;
    background-color: #2B2B4F;
    border-radius: 0.3em;
    padding: 5px 15px; 
}