:host {
    --thisVaar: 720px;
}
.hero-container {
    height: var(--thisVaar, 720px);
    box-shadow: inset 3px 16px 20px 8px rgba(0, 0, 0, 0.2), 0px 20px 20px -15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/resource/heroImage');
    background-size: cover;
    background-position: 25%;
    padding: 8px;
}

.hero-images {
    position: relative;
    height: 100%;
}

.caption {
    position: relative;
    top: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 38px;
    line-height: 56px;
}
.blur {
    color: aliceblue;
    text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black;
    /* border: 1px solid white; */
    /* backdrop-filter: blur(4px) brightness(1.1); */
    border-radius: 0.5em;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
}
.hero_button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

lightning-button button.slds-button.slds-button_neutral {
    all: unset;
    padding: 12px;
    /* TODO: find out why it is not applying */
}

lightning-button {
    border: 1px solid white;
    text-shadow: 0px 0px 10px white;
    all: unset;
    padding: 12px;
}