
.hero-container {
    width: 95%;
    height: 720px;
    box-shadow: 0 0 0 5px #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/resource/heroImage');
    background-size: cover;
  }
  /* import the resource in the lwc */
  .caption, .heroImages {
    height: 95%;
    width: 45%;
    text-align: center;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .caption h1 {
  }
  .blur {
    color: aliceblue;
    text-shadow: -10px 2px 18px #a9a9a9;
    background: rgba(255,255,255, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 1em;
    padding: 1em;
    
  }
  lightning-button {
    border: 1px solid white;
    text-shadow: 0px 0px 10px white;
  }